* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
}
#content {
    width: 1000px;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100vw - 30px);
}
#content, #cases, #deaths, #recovered {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#content h4 {
    font-size: 24px;
    color: rgba(20, 20, 20, 0.9);
}
#content h5 {
    font-size: 16px;
    color: rgba(20, 20, 20, 0.9);
}
#totalInfos, #todayInfos {
    display: flex;
    width: -webkit-fill-available;
    align-items: center;
    justify-content: center;
}
#todayInfos {
    margin-top: 50px;
    overflow: hidden;
    white-space: nowrap;
}
#todayInfos span {

}
#cases, #deaths, #recovered {
    padding: 0;
    width: calc((100vw - 60px)/3);
}
#casesCounter, #deathsCounter, #recoveredCounter {
    display: flex;
    color: #000000;
    font-size: 150px;
    align-items: center;
    justify-content: center;
}
#bayrak {
}
b {
    margin: 0 5px;
}
#imza {
    display: flex;
    width: 1000px;
    overflow: hidden;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    max-width: calc(100vw - 30px);
}
#imza span {
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
}
#imza a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    #casesCounter, #deathsCounter, #recoveredCounter {
        font-size: calc((100vw - 60px)/6);
    }
    #todayInfos span {
        font-size: calc((100vw - 30px)/30);
    }
    #imza span {
        font-size: calc((100vw - 30px)/30);
    }
  }